<%= javascript_include_tag "/assets/mm_orders" %>
<div class="row">
  <div class="col s12">
    <h3>Tus pedidos</h3>
    <% if @orders.length > 0 %>
      <ul class="collection">
        <% @orders.each do |order| %>
          <% total = 0 %>
          <% order.meals.each do |meal| %>
            <% meal.meal_products.each do |product| %>
              <% total += product.price %>
            <% end %>
          <% end %>
          <%= link_to "Pedido / Fecha: #{order.created_at.strftime("%d-%m-%Y")} / Total: #{total} €", "/orders/#{order.id}", class: 'collection-item' %>
        <% end %>
      </ul>
    <% else %>
      <p>Aún no has hecho ningún pedido!</p>
    <% end %>
  </div>
</div>
