<div class="row">
  <div class="col s12">
    <h1>Pedido</h1>

    <!-- objective status -->
    <h3>Estado del objetivo</h3>
    <div class="progress_bars">
      <strong>Calorías</strong>
      <div class="progress grey">
        <div class="determinate yellow" style="width: 20%"></div>
      </div>

      <strong>Proteínas</strong>
      <div class="progress grey">
        <div class="determinate light-green" style="width: 60%"></div>
      </div>

      <strong>Grasas</strong>
      <div class="progress grey">
        <div class="determinate light-green" style="width: 40%"></div>
      </div>

      <strong>Carbohidratos</strong>
      <div class="progress grey">
        <div class="determinate red" style="width: 95%"></div>
      </div>
    </div>
    <!-- objective status -->
    
    <div class="order">
      <ul class="collection">
        <li class="collection-item">
          <h3>Comida #1</h3>
          <table class="highlight centered responsive-table">
            <thead>
              <tr>
                <th data-field="name">Producto</th>
                <th data-field="calories">Calorías</th>
                <th data-field="protein">Proteínas</th>
                <th data-field="fat">Grasas</th>
                <th data-field="carbs">Carbohidratos</th>
                <th data-field="price">Cantidad</th>
                <th data-field="edit">Modificar</th>
                <th data-field="delete">Eliminar</th>
                <th data-field="price">Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Pechuga de pollo</td>
                <td>60</td>
                <td>20</td>
                <td>3</td>
                <td>0</td>
                <td>100 gr</td>
                <td>
                  <a class="waves-effect waves-light btn light-green">
                    <i class="material-icons">add</i>
                  </a>
                  <a class="waves-effect waves-light btn grey">
                    <i class="material-icons">remove</i>
                  </a>
                </td>
                <td>
                  <a class="waves-effect waves-light btn red">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
                <td>0,5 €</td>
              </tr>
            </tbody>
          </table>
          <a class="waves-effect waves-light btn lime">
            <i class="material-icons left">add</i>
            Añadir Producto
          </a>
        </li>
      </ul>
      <a class="waves-effect waves-light btn light-green">
        <i class="material-icons left">add</i>
        Nueva Comida
      </a>
    </div>
    <a class="waves-effect waves-light btn green right">
      <i class="material-icons left">add</i>
      Comprar
    </a>
  </div>
</div>
