<h1>Pedido</h1>

<p><strong>Pedido:</strong> <%= @order.id %></p>
<p><strong>Fecha:</strong> <%= @order.created_at %></p>
<p><strong>Total:</strong> €</p>

<h2>Desglose</h2>
<% @meals.each do |meal| %>
  <p><strong>Meal:</strong> <%= meal.id %></p>
  <ul>
    <% meal.products.each do |product| %>
      <li><strong>Product:</strong> <%= product.name %></li>
    <% end %>
  </ul>
<% end %>
