<%= javascript_include_tag "/assets/mm_home" %>

<div class="row">
  <div class="parallax-container col s12">
    <div class="parallax">
      <img src="assets/banner.jpg">
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 center">
    <h3>¿Por qué <strong>macromeal</strong>?</h3>
  </div>
</div>

<div class="row center">
  <div class="col m4 s12">
    <i class="fa fa-balance-scale fa-5x" aria-hidden="true"></i>
    <h5>Genera tu objetivo 100% personalizado en base a tus condiciones físicas.</h5>
  </div>
  <div class="col m4 s12">
    <i class="fa fa-cutlery fa-5x" aria-hidden="true"></i>
    <h5>Escoge en tu pedido entre más de 80 productos.</h5>
  </div>
  <div class="col m4 s12">
    <i class="fa fa-info-circle fa-5x" aria-hidden="true"></i>
    <h5>No te equivoques comprando lo que no debes gracias al asesoramiento interactivo.</h5>
  </div>
