<div class="row">
  <div class="col s12">
    <h1>Productos</h1>
    <ul>
      <% @products.each do |product| %>
        <li><%= link_to product.name, "/products/#{product.id}" %></li>
      <% end %>
    </ul>
  </div>
</div>
