<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
        <i class="material-icons">shopping_basket</i>
        macromeal
      </a>
      <a id="nav-mobile" href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <%= render 'layouts/links' %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <%= render 'layouts/links' %>
      </ul>
    </div>
  </nav>
</div>
